.floating-button {
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.sign-in-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sign-out-button {
  position: absolute;
  right: 25px;
  top: 25px;
}
